:root[data-theme='dark'] {
    //color
    --bg-color: rgba(0, 0, 0, 0.96);
    --primary-color: rgba(255, 255, 255, 1);
    --secondary-color: rgba(223, 189, 67, 1);

    //shadow
    --header-shadow: rgba(255, 253, 244, 0.3);

    //border
    --border-color: rgba(173, 173, 173, 0.96);
}