:root[data-theme='light'] {
    //color
    --bg-color: rgba(255, 253, 244, 0.96);
    --primary-color: rgba(68, 68, 68, 1);
    --secondary-color: rgba(223, 189, 67, 1);

    //shadow
    --header-shadow: rgba(34, 33, 32, 0.3);

    //border
    --border-color: rgba(95, 95, 94, 0.96);
}